<header class="site-header">
  <div class="site-identity">
    <img src="../../../assets/icons/convert.png" alt="Site Name" />
    <h4>
      <span href="#">Currency Converter</span>
    </h4>
  </div>
  <nav class="site-navigation">
    <ul class="nav">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">EUR-USD Details</a>
      </li>
      <li>
        <a routerLink="/currency-converter-details" routerLinkActive="active">EUR-GBP Details</a>
      </li>
    </ul>
  </nav>
</header>
