a {
  text-decoration: none;
  color: white;
}
a.active {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 7px;
}
.site-header {
  border-bottom: 1px solid #ccc;
  background: midnightblue;
  color: white;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h4 {
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
}

.site-identity img {
  float: left;
  margin: 0 10px 0 0;
  width: 35px;
  height: 35px;
  margin: 11px 10px;
}

.site-navigation {
  float: right;
}

.site-navigation ul,
li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1rem;
}
