<div class="show-back-home" *ngIf="detailsView">
  <button class="btn btn-sm btn-primary" (click)="showMoreDetails()">Back to Home</button>
</div>
<div class="currency-panel-wrapper">
  <div class="currency-panel-from-to">
    <div class="from-container">
      <div class="form-group">
        <label for="fromvalue">From</label>
        <select
          class="form-select mb-3"
          id="amountvalue"
          aria-label="example"
          [(ngModel)]="selectedFromCurrency"
          (change)="selectValueChanged()"
          [disabled]="detailsView ? true : false"
        >
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
        </select>
      </div>
    </div>
    <div class="swap-currency-icon">
      <i class="fa fa-exchange" aria-hidden="true" (click)="swapExchangeValues()"></i>
    </div>
    <div class="to-container">
      <div class="form-group">
        <label for="tovalue">To</label>
        <select
          class="form-select mb-3"
          id="tovalueF"
          aria-label="example"
          [(ngModel)]="selectedToCurrency"
          (change)="selectValueChanged()"
        >
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="errorExist" class="error-mesg text-end">
    <small class="text-danger">
      <i>{{ errorMsg }}</i>
    </small>
  </div>
  <div class="convert-action-button">
    <button class="btn btn-primary btn-sm convert-button" (click)="convertAmount()">Convert</button>
  </div>
  <div class="conversion-value my-3">
    <div class="detailsView ? currency-exchanged-value-full ? currency-exchanged-value">
      <input
        type="number"
        [(ngModel)]="convertedAmount"
        class="form-control text-center fw-bold"
        id="tovalueF"
        min="1"
        disabled="disabled"
      />
    </div>
    <div class="more-details-button" *ngIf="!detailsView">
      <button (click)="showMoreDetails()" class="btn btn-sm btn-primary w-100">More Details</button>
    </div>
  </div>
</div>
