.currency-exchange-wrapper {
  margin: 2rem 0rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.main-item-left {
  padding: 10px;
  flex: 40%;
}

.main-item-right {
  padding: 10px;
  flex: 60%;
}

input#amountvalue {
  width: 80%;
}

input#currentvalue {
  width: 80%;
  font-weight: 600;
}

.current-exchange-value-wrapper {
  margin-top: 6rem;
}

.enter-amount-wrapper {
  margin: 1rem;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .main-container {
    flex-direction: column;
  }

  input#amountvalue {
    width: 100%;
  }

  input#currentvalue {
    width: 100%;
  }

  .current-exchange-value-wrapper {
    margin-top: 1rem;
  }

  .main-item-right {
    padding: 0px 30px;
  }
}

@media (max-width: 650px) {
  .input-amount-title {
    font-size: 16px;
    display: inline-block;
    width: 40vw;
  }
}

@media only screen and (min-width: 1025px) {
  .main-item-left {
    max-width: 30rem;
  }
  .main-item-right {
    max-width: 50rem;
  }
  .main-container {
    max-width: 80rem;
  }
}
